.side{

    overflow: auto;
    position: relative;
    z-index: 7;
    background-color: rgb(118, 216, 255);
    display: flex;
    height: 150vh;
    width: 30%;
    margin-top: 3.4%;
    padding-left: 0%;
}
