
navigation{
    position: relative;
    top: 100;
    left: 200;
    width: 200px;
    float: left
}
content{
    background-color: rgb(127, 196, 29);
    margin-left:200px;
    margin:0 200px 0 200px ;
}
h1{
    color:blue
}